@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFFFFF;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

/* green btn frame */

.green_btn {
    background-color: #02897A;
    border-radius: 4px;
    padding: 14px 41px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF
}

/* nav bar */

.active{
    font-weight: 600;
    color: #22343D;
}
.row {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header_box {
    height: 80px;
    align-items: center;
    margin-bottom: 25px;
}

.logo_name {
    padding: 5px;
}

.logo .logo_product{
    width: 40px;
    height: 36px;
    margin-right: 16px;
}

.nav_bar {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
}

.list_item {
    width: 379px;
    height: 28px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: 24px;
}

.list_item .item_link {
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
}

.sign {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

 .item_sign {
    height: 43px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    padding: 10px 23px;
    margin-right: 24px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.item_sign:hover {
    color: #FFFFFF;
    background-color: #02897A;
    border-radius: 4px;
}

.hero_icon_box {
    width: 50px;
    padding-left: 15px;
}


/* hero info img section */

header .hero_box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 114px;
}

.hero_box .hero_info {
    padding-top: 145px;
    width: 458px;
    height: 331px;
    margin-right: 33px;
}

.hero_box .hero_title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #22343D;
    margin-bottom: 18px;
}

.hero_box .hero_text{
    width: 458px;
    height: 95px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #22343D;
    margin-bottom: 45px;
}

.hero_box .hero_start {
    height: 53px;
    margin: 0 auto;
    display: flex;
    float: left;
    justify-content: space-between;
}

.hero_box .hero_btn{
    margin-right: 30px;
}

.hero_info .hero_video {
    display: ;
    width: ;
    height: 53px;
    padding: 15px 0;
}

.hero_icon_player{
    margin-right: 8px;
}


a .hero_video_link{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #02897A;
    padding: 15px 0;
}

.hero_box .hero_img {
    width: 600px;
    height: 555px;
}

/* section product */

#product {
    background-image: url('../img/Bg_up.svg');
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.product_box {
    
}

.product_box .product_title {
    margin: 0 auto;
    width: 530px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
    margin-bottom: 58px;
}

.product_box .product_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.product_box .product_item {
    width: 240px;
    height: 178px;
}

.product_item .product_link{
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}

.product_item .product_item_title{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #22343D;
    margin-bottom: 13px;
}

.product_item .product_item_text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.product_btn_box {
    text-align: center;
    padding-bottom: 90px;
}

/* main section */

/* management */

.main_block{
    padding-top: 169px;
}

.management {
    margin-bottom: 150px;
}

.management_info {
    width: 486px;
    height: 435px;
    margin-right: 84px;
}

.main_block_span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;
    margin-bottom: 8px;
}

.main_block_title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #22343D;
    margin-bottom: 23px;
}

.management_info .management_title {
    margin-bottom: 131px;
}

.main_block_title_text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    margin-bottom: 12px;
}

.main_block_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    margin-bottom: 25px;
}

.management_img {
    width: 539.83px;
    height: 473.47px;
}

/* customer support */

.customer {
    margin-bottom: 150px;
    flex-direction: row-reverse;
}

.customer_info {
    width: 486px;
    height: 427px;
}

.cutomer_text {
    margin-bottom: 30px;
}

.customer_checked{
    margin-bottom: 30px;
}

.customer_icon {
    width: 35px;
    height: 35px;
    margin-right: 30px;
}

.customer_checked_info {
    width: 385px;
    height: 52px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.customer_img {
    width: 543px;
    height: 500px;
    margin-right: 80px;
}

/* collaborative */

.collaborative {
    margin-bottom: 150px;
}

.collaborativet_info {
    width: 486px;
    height: 416px;
}

.collaborative_img {
    width: 541.83px;
    height: 451.2px;
}

/* Quick & Easy Process */

#process {
    margin-bottom: 150px;
    background-image: url('../img/Bg_bottom.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.process_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 16px;
    padding-top: 52px;
}

.process_info {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #22343D;
    margin-bottom: 32px;
}

.process_avatar {
    margin-bottom: 48px;
}

.avatar_box {
    width: 400px;
    height: 98px;
    
}

.avatar_reverse {
    display: flex;
    flex-direction: row-reverse;
}

.avatar_img {
    width: 98px;
    height: 98px;
}

.avatar_link {
    text-align: center;
}

/* Contents Strategies */

#content {
    margin-bottom: 150px;
}

.contents_title {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
    margin-bottom: 8px;
}

.contents_text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    margin-bottom: 32px;
}

.contents_box {
    width: 348px;
    height: 359px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 63px;
}

.contents_img_box {
    width: 348px;
    height: 185px;
    border-radius: 8px 8px 0px 0px;
}

.contents_info_box {
    padding: 24px 30px 40px 24px;
}

.contents_info {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    margin-bottom: 12px;
}

.contents_span {
    font-weight: bold;
}

.contents_title_two{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
}

.contents_title_two:hover {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #02897A;
}

.contents_points {
    width: 68px;
    height: 16px;
    margin: 0 auto;
    
}

.points {
    display: inline-block;
    
    width: 16px;
    height: 16px;
    background: #EFEFEF;
    border-radius: 50%;
}

/* Price Table */

#price {
    margin-bottom: 150px;
}

.price_title {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
    text-align: center;
    margin-bottom: 8px;
}

.price_text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;
    text-align: center;
    margin-bottom: 50px;
}

.price_box {
    width: 322.65px;
    height: 456px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 24px 0 32px 0;
    text-align: center;
}



.price_box_title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
    margin-bottom: 8px;
}

.price_list{
    margin-bottom: 38px;
}

.price_items{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #22343D;
}

.price_per_box{
    width: 170px;
    height: 100px;
}

.price_per {
    font-style: normal;
    font-weight: bold;
    font-size: 76px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #02897A;
}

.price_per_text{
   position: relative;
}

.price_dollar {
    position: absolute;
    top: 15px;
    left: -90px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #02897A;
}

.price_month{
    position: absolute;
    top: 50px;
    left: -97px;
    font-family: ;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #AFAFAF;
}

.price_btn{
    padding: 11px 19px 11px 18px;
    width: 139px;
    height: 44px;
    background-color: #02897A;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.price_box:hover {
    background-color: #02897A;
    
}

.price_box:hover .price_box_title {
    color: #FFFFFF;
}

.price_box:hover .price_items {
    color: #FFFFFF;
}

.price_box:hover .price_per_info {
    color: #FFFFFF;
}

.price_box:hover .price_dollar {
    color: #FFFFFF;
}

.price_box:hover .price_btn {
    background-color: #FFFFFF;
    color: #02897A;
}

.price_three {
    width: 200px;
}

.price_three .price_month{
    position: absolute;
    top: 50px;
    right: px;
}

.price_three .price_dollar{
    position: absolute;
    top: 15px;
    left: -90px;
}

/* What Clients Say */

#clients{
    margin-bottom: 157px;
}

.clients_title {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #22343D;
    margin-bottom: 8px;
}

.clients_text {
    width: 537px;
    margin: 0 auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #22343D;
    margin-bottom: 50px;
}

.clients_box {
    width: 327px;
    height: 236px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 28px 26px 23px 26px;
}

.clients-stars {
    margin-bottom: 16px;
}

.clients_say {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 16px;
}

.clients_avatar_img {
    margin-right: 14px;
}

.clients_avatar_box {
    float: left;
}

.clients_name {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #02897A;
}

.clients_designer {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}

/* Join section */

#join {
    margin-bottom: 150px;
}

.join_block {
    width: 968px;
    height: 345px;
    background: #02897A;
    border-radius: 32px;
    padding: 14px 36px 0 51px;
}

.join_info {
    width: 510px;
    padding-top: 49px;
}

.join_info_text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
    margin-bottom: 52px;
}

.join_btn {
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 13px 35px 7px 33px;   
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #02897A;
}

.join_img {
    width: 351px;
    height: 331px;
}

/* footer */

#footer {
    margin-bottom: 46px;
}

.footer_block {
    margin-bottom: 16px;
}

.footer_logo {
    margin-bottom: 25px;
}

.footer_logo_img {
    width: 32px;
    height: 29px;
    margin-right: 16px;
}

.footer_logo_name {
    width: 114.61px;
    height: 29;
    padding: 4px 0;
}

.social_icon {
    margin-left: 16px;
    box-sizing: border-box;
}

.footer_items a {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    color: #22343D;
}

.footer_active a {
    font-weight: bold;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
    margin-bottom: 8px;
}

.footer_knowing {
    width: 325px;
}

.knowing_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
    margin-bottom: 34px;
}

.footer_input {
    width: 325px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 21px;
}

.footer_btn {
    background: #02897A;
    border-radius: 4px;
    padding: 8px 15px 7px 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

/* avtor */

.avtor_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #22343D;
    text-align: center;
}
